<ul id='transaction-list'>
{{#each transactions}}
    <li data-tid={{id}}>
        <span class='date'>{{date}}</span>
        <span class='name'>{{name}}</span>
        <span class='amount'>{{amount.value}}</span>
    </li>
{{/each}}
</ul>