body {
    text-align: center;
    background: #F3EAE5;
    font-size: 16px;
}
header, footer {
    background: #483016;
    height: 60px;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

h1 {
    color: white;
    font-size: 1.5em;
    line-height: 60px;
    margin: 0;
}
#content {
    margin: 20px;
    margin-bottom: 70px;
}
a, button {
    background: linear-gradient(#FBFBFB, #B9B8B8);
    border: none;
    color: black;
    font-weight: bold;
    margin: 10px;
    outline: none;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}
#content a {
    display: block;
    line-height: 90px;
    margin: 80px 0;
}

footer a {
    line-height: 60px
}

/* Send Money */
#loading {
    background: gray;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}
#loading div {
    position: absolute;
    font-size: 1.2em;
    left: 40%;
    top: 40%;
}
form {
    text-align: start;
}
label {
    background:  white;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    position: relative;
    margin: 20px 0;
}
input {
    border: none;
    outline: none;
}
input:invalid {
    border: 1px solid red;
}
input[type=text] {
    width: 45%;
}
input[type=email] {
    width: 80%;
}
input[type=email]:invalid + span {
    display: none;
}
input[type=email]:valid + span {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 12px;
    border-radius: 50%;
    background: green;
}
textarea {
    width: 95%;
}

/* View Transaction */
ul {
    padding: 0;
}
li {
    list-style: none;
    margin: 10px 0;
}
li span {
    display: inline-block;
    width: 30%;
}