<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{title}}</title>

    <!-- STYLES -->
    <link rel='stylesheet' href='css/index.css'>

    <!-- JS -->
    <script src='js/index.js'></script>

</head>
<body>
    {{> header}}

    {{{body}}}
</body>
</html>